<h1>Listing messages</h1>

<table>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Flat</th>
    <th>Contents</th>
    <th>Received</th>
    <th>Context</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.from_id %></td>
    <td><%= message.to_id %></td>
    <td><%= message.flat_id %></td>
    <td><%= message.contents %></td>
    <td><%= message.received %></td>
    <td><%= message.context %></td>
    <td><%= link_to 'Show', flat_message_path(@flat,message,:format => :html) %></td>
    <td><%= link_to 'Edit', edit_flat_message_path(@flat,message,:format => :html) %></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_flat_message_path(@flat,:format => :html) %>
