<p id="notice"><%= notice %></p>

<p>
  <b>Nickname:</b>
  <%= @flat.nickname %>
</p>

<p>
  <b>Postcode:</b>
  <%= @flat.postcode %>
</p>

<p>
  <b>Description:</b>
  <%= @flat.description %>
</p>

<p>
  <b>Geocode lat:</b>
  <%= @flat.geocode_lat %>
</p>

<p>
  <b>Geocode long:</b>
  <%= @flat.geocode_long %>
</p>

<p>
  <%= link_to "Messages", flat_messages_path(@flat, :format => :html) %>
</p>
<p>
  <%= link_to "ShopItems", flat_shop_items_path(@flat, :format => :html) %>
</p>

<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %>
